<input type="text" id="text" value="<%= currentText %>"/>
<input type="button" id="butt" value="Search" /><br>
<input type="radio" name="search" value="yandex" <%= currentCheck== 'yandex' ? 'checked="checked="' : '' %> >Yandex
<input type="radio" name="search" value="google" <%= currentCheck== 'google' ? 'checked="checked="' : '' %>> Google<br/>
<input type="radio" name="search" value="yandex_and_google" <%= currentCheck== 'yandex_and_google' ? 'checked="checked="' : '' %> >Yandex and Google                                              

